* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.suzuimg img {
  width: 500px;
  height: 604px;
  border-radius: 10px;
}

.pinkbox {
  width: 570px;
  height: 280px;
  background-color: #E2CABE;
  border-radius: 10px;
}

.pinkbox h2 {
  padding-left: 90px;
  padding-top: 20px;
}

.login-form {
  width: 450px;
  border-radius: 6px;
  margin: 0 auto;
  display: table;
  padding: 15px 30px 30px;
  box-sizing: border-box;
  color: #233D4E;
}

.form-group {
  float: left;
  width: 100%;
  margin: 0 0 15px;
  position: relative;
}

.login-form input {
  width: 100%;
  padding: 5px;
  height: 56px;
  border-radius: 15px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 15px;
  padding-left: 75px;
}

.login-form .form-group .input-icon {
  font-size: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  height: 100%;
  padding-left: 36px;
  color: #666;
}

.login-btn {
  background: #5A4A42;
  padding: 11px 50px;
  border-color: #5A4A42;
  color: #fff;
  margin: 0 auto;
  font-size: 14px;
  border: 1px solid #5A4A42;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login-form button:hover {
  opacity: 0.9;
}

@media screen and (max-width:767px) {
  .login-form {
    width: 90%;
    padding: 15px 15px 30px;
  }
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40px;
  lenght: 40px;
  height: 40px;
  border-radius: 50%;
}

.check {
  padding-top: 220px;
}

.check p {
  font-size: 14px;
}


/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}



/* ************Creatingcompany STYLING*************** */



.creating {
  font-size: 14px;
}

.company {
  font-size: 16px;
  font-weight: bold;
}

.generl {
  background-color: #F4E9E4;
  font-size: 18px;
  height: 50px;
  padding: 12px;
}

.Contactcent {
  background-color: #F4E9E4;
  font-size: 18px;
  height: 50px;
  padding: 12px;
}

.Address {
  background-color: #F4E9E4;
  font-size: 18px;
  height: 50px;
  padding: 12px;
}

/* ************Expertsingleview STYLING*********** */

.General {
  background-color: #F4E9E4;
  font-size: 18px;
  height: 50px;
  padding: 12px;
}
