#dropdown-basic::after{
    display: none !important; 
   
 }

.dropdown{
    display: flex;
    justify-content: center;
}
.dropdown-menu-item:active{
    color: black ;
    text-decoration: none;
    background-color: lightgray;
}
